    .websocket-hide {
        display: none;
    }
    
    #task-span {
        font-style: italic;
    }
    
    #user-span,
    #message-span {
        font-weight: bolder;
    }
    
    .websocket-show>li {
        list-style-type: none;
        /* border: 0.1rem solid #f7f7f7; */
        border-radius: 0.3rem;
        margin-top: 1rem;
        box-shadow: 3px 3px #bfc6c8;
        background-color: #d8e0e2;
        overflow: auto;
    }
    
    .form-check-label {
        color: #64748B;
    }