/* DropdownButton.css */

.dropdown-demo .p-dropdown {
    margin-top: 0.2rem;
    width: 9.8rem;
    border-color: #64748b;
}

.p-dropdown-label {
    font-weight: bolder;
    color: #64748b;
}

.dropdown-demo .country-item-value img.flag {
    margin-top: 0.2rem;
    width: 17px;
}