.edit-buttons {
    overflow: hidden;
}

.edit-buttons.edit>button,
.edit-buttons.delete>button {
    min-width: 7rem;
}

#multiSelectUser {
    text-overflow: hidden;
    background-color: red;
    width: auto;
}