    .sidebar-container {
        outline: none;
        height: fit-content;
        background-color: rgb(220, 228, 231);
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        height: 100%;
    }
    
    .websocket-show {
        overflow-wrap: break-word;
    }