.sidebar-menu-nav-blue{
    background-color: blue;
    border-radius: 2rem;
    text-align: center;

}
.sidebar-menu-toggle-select{
    background-color: coral;
    color: white;
    width: 100%;
    border-style: none;
    text-align: left;
}

#SidebarMenu {
    border-style:hidden;
    /* border-color: blue; */
    height: 100%;
    background-color: gray;
}

