.logged-user {
    color: #6366F1;
    font-weight: 700;
    font-size: 1rem;
    margin: 2.5% auto 0 70% !important;
}

@media only screen and (max-width: 569px) {
    .logged-user {
        margin: 2.5% auto 0 0!important;
    }
    .navbar-link-group {
        margin-top: 2.5% !important;
    }
}

@media only screen and (min-width:570px) and (max-width:870px) {
    .logged-user {
        margin: 2.5% auto 0 25% !important;
    }
    .navbar-link-group {
        margin-top: 2.5% !important;
    }
}

.user-content {
    border: 0.1rem solid #6366F1;
    border-radius: 6px;
    text-align: center;
}